<h1>Create a New Genre</h1>

<form method = "POST" action = "/genres">
	<p><label for="Name">New Genre's Name:</label></p>
	<p><input type="text" name = "genre[:name]" id = "Name"></p>
	<input type = "submit" value = "Create Artist"
</form>